.info-box {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: LightYellow;
  padding: 20px;
}

.vote-item {
  background-color: PowderBlue;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 20px;
}

.selected {
  background-color: SpringGreen;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  padding: 20px;
}

.selected-vote {
  background-color: LightGreen;
  border-width: 3px;
}

.header {
  color: White;
  background-color: SteelBlue;
  padding: 35px;
}

.sidebar {
  background-color: White;
  border-width: 1px;
  border-color: Black;
  border-style: solid;
  position: absolute;
  width: 350 px;
  padding: 10px;
  word-wrap: break-word;
  max-width: 225px;
}

.main-content {
  margin-left: 255px;
  margin-right: 100px;
}

body {
  background-color: LightGray;
}

div {
  margin: 5px;
}

button {
  background-color: Navy;
  color: White;
  border: none;
  padding: 20px;
  display: inline-block;
  border: 1px solid Navy;
}

button:hover {
  background-color: White;
  color: Black;
  transition: background-color 0.3s ease;
}

.dot {
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin: 0 2px;
  background-color: SteelBlue;
  border-color: black;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.voted-false {
  background-color: SteelBlue;
}

.voted-true {
  background-color: SpringGreen;
}

.dot:hover {
  background-color: yellow;
}

.homeLink {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	background-color: LightYellow;
	padding: 20px;
	margin: 20px;
}

.homePage {
  margin: auto;
	width: 50%;
	text-align: center;
}
